:root {
	--primary-font: 'Oxygen', sans-serif;
	--secondary-font: 'Forum', cursive; 
	--primary-color: #e4dddd;
	--secondary-color: #228896;
	--secondary-color2: #A9C52F;
	--hover-secondary-color: #0da45b;
	--footer-primary-color: #283739;
	--footer-hover-color: #283739;
	--text-color: black;
}
