{{#> base}}

<h1>{{title}}</h1>

<div class="teamMealSavior">

	{{#each teammates}}
	<div class="teammate">
		<div class="teammateImage">
			<img src="/assets/img/teamImages/{{this.thumb}}" />
		</div>
		<div class="teammateName">
			<h2>{{this.name}}</h2>
		</div>
	</div>
	{{/each}}
</div>

{{/base}}