{{#> base}}

    <h1>{{title}}</h1>

		<div class="containerHome">
			<div class="filtersContainer">
				<div class="filter-title">
					<h1>Filters</h2>
				</div>

				<div
					class="select"
					id="multi-select"
					searchable
					placeholder="Ingredients"
					options="[
					{ label: 'Garlic', value: 'option-1'}, 
					{ label: 'Banana', value: 'option-2' }, 
					{ label: 'Meat', value: 'option-3' }, 
					{ label: 'Peach', value: 'option-4' }, 
					{ label: 'Spinach', value: 'option-5' }, 
					{ label: 'Lettuce', value: 'option-6' }, 
					{ label: 'Egg', value: 'option-7' }, 
					{ label: 'Onion', value: 'option-8' }, 
					{ label: 'Parsley', value: 'option-9' },
					{ label: 'Corn', value: 'option-10' }, 
					{ label: 'Chicken', value: 'option-11' }, 
					{ label: 'Tomato', value: 'option-12' },
					]">
				</div>

				<div class="select" id="diet-select" searchable placeholder="Type of Diet" options="[
						{ label: 'No Diet', value: 'option-1' }, 
						{ label: 'Vegetarian', value: 'option-2' }, 
						{ label: 'Vegan', value: 'option-3' }, 
						{ label: 'Celiac', value: 'option-4' }, 
					]">
				</div>

				<div class="select" id="coincidences-select" searchable placeholder="Coincidences" options="[
						{ label: 'Strict', value: 'option-1' }, 
						{ label: 'Quite Strict', value: 'option-2' }, 
						{ label: 'No restrictions', value: 'option-3' }, 
					]">
				</div>

				<input class="submitFiltersBtn" type="submit" value="Search" id="submitFiltersBtn" />
			</div>

			<div class="recipesContainer">
				{{#each recipes}}
				<a href="/recipe" class="recipe">
					<div class="recipeImage">
						<img src="{{this.image}}" alt="recipe" class="recipeImg" />
					</div>
					<div class="cardDetails">
						<h3>{{this.name}}</h3>
						<p>{{this.description}}</p> 
					</div>
				</a>
				{{/each}}
			</div>
		</div>

	<script src="/js/utils/selects.js"></script>
	{{!-- <script src="/js/utils/rater.js"></script>	 --}}

{{/base}}