<header>
        <div class="navigation">
            <a class="marca" href="../index.html">
                <img src="/assets/img/mealsavior2.png" alt="logo" class="mealsaviorAncle"/>
            </a>

			<a class="navbar-item" href="index.html">
				<span class="icon">
					<i class="fa-solid fa-circle-plus"></i>
				</span> 
				New Recipes
			</a>

			<a class="navbar-item" href="index.html">
				<span class="icon">
					<i class="fa-solid fa-heart"></i>
				</span> 
				Favorites
			</a>

			<a class="navbar-item" href="index.html">
				<span class="icon">
					<i class="fa-solid fa-calendar-day"></i>
				</span> 
				Today's Recipe
			</a>

            <div class="searchZone">
                <input class="searchbar" type="text" placeholder="Search Recipes..." />
                <button onclick="funcionTotalmenteInutilDePrueba()" class="sendSearchBtn" type="button">
                    <i class="loginIcon fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <a class="loginBtn" id="indexLoginBtn" type="button" href="../pages/login.html">
                Log in
                <i class="loginIcon fa-solid fa-door-open"></i>
            </a>
        </div>
    </header>