<header>
        <div class="navigation">
            <a class="marca" href="/">
                <img src="/assets/img/mealsavior2.png" alt="logo" class="mealsaviorAncle"/>
            </a>

			<a class="navbar-item" href="/">
				<span class="icon">
					<i class="fa-solid fa-circle-plus"></i>
				</span> 
				New Recipess
			</a>

			<a class="navbar-item" href="/">
				<span class="icon">
					<i class="fa-solid fa-heart"></i>
				</span> 
				Favorites
			</a>

			<a class="navbar-item" href="/">
				<span class="icon">
					<i class="fa-solid fa-calendar-day"></i>
				</span> 
				Today's Recipe
			</a>

            <div class="searchZone">
                <input class="searchbar" type="text" placeholder="Search Recipes..." />
                <button onclick="funcionTotalmenteInutilDePrueba()" class="sendSearchBtn" type="button">
                    <i class="loginIcon fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <a class="loginBtn" id="indexLoginBtn" type="button" href="./login">
                Log in
                <i class="loginIcon fa-solid fa-door-open"></i>
            </a>

			<div class="menu-btn">
				<i class="fas fa-bars"></i>
			</div>
        </div>
		<div class="desplegableMenu">
				<ul class="menuItems">
					<li>
						<a href="/">New Recipes</a>
					</li>

					<li>
						<a href="/">Favorites</a>
					</li>

					<li>
						<a href="/">Today's Recipe</a>
					</li>
				</ul>
				<a class="loginBtn" id="indexLoginBtn2" type="button" href="./login">
					Log in
					<i class="loginIcon fa-solid fa-door-open"></i>
				</a>
			</div>
    </header>

<script src="/js/utils/navbar.js"></script>