.searchbar {
	border-radius: 10px;
	padding: 6px;
	margin-right: 50px;
	font-size: 17px;
	border: 0px solid;
	height: 40px;
	width: 300px;
}

.searchbar:focus {
	outline: none; /* Saco el contorno al focusear la searchbar */
}

/*seccion de los containers*/

body {
	background-color: #b1e693;
	align-items: top;
}

.container {
	width: 100%;
	background: rgba(130, 79, 79, 0.704);
	position: relative;
	display: flex;
	justify-content: center;
	position: relative;
	overflow: auto;
}

.section-search {
	max-width: 40%;
	float: left;
	background: rgba(231, 231, 231, 0.704);

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	overflow: auto;
}

.section-recipes {
	max-width: 60%;
	background: rgba(79, 91, 130, 0.704);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	overflow: auto;
}

/* login page */

.loginPageHeader img {
	height: 10%;
	width: 50%;
	padding-top: 5%;
	padding-left: 5%;
}

.loginPageHeader p {
	padding-left: 6%;
	font-size: 2vw;
}

.containerLogin {
	padding-top: 2%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	position: relative;
	overflow: auto;
}
.loginSection {
	background-color: #04040475;
	margin-right: 5%;
	max-width: 30%;
	float: right;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	overflow: auto;
	border-radius: 5%;
	min-height: 300px;
	margin-bottom: 3%;
}
.loginSection .login-input {
	max-height: 60px;
}

.sliderSection {
	max-width: 65%;
	float: left;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	overflow: auto;
	margin-bottom: 3%;
}

.loginSection h3 {
	padding-bottom: 8%;
	color: white;
}

#submitButton {
	background-color: #26997d;
	color: white;
}

.loginSection input {
	width: 80%;
	height: 15%;
	margin: 1%;
}

.containerLogin .sliderSection img {
	width: 75%;
	height: 100%;
	border-radius: 5%;
}

.loginSection .login-signIn {
	display: flex;
	color: white;
	padding-bottom: 5%;
}
