@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');


.recipeDetailsImage {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 1200px;
	height: auto;
}

.burguer {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.burguer:hover {
	transform: scale(1.005);
	transition: 500ms;
}

.recipeDetailsTitle {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: center;
	background-color: var(--secondary-color2);
	padding: 1.875rem 15px;
	width: 1200px;
    height: 100%;
    font-size: 1.5em;
	h1 {
		font-family: var(--secondary-font);
		color: var(--texto-color);
	}
}

.recipeDetailsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin: auto;
	width: 1200px;
    height: 100%;
	background-color: white;
	color: var(--text-color);
	padding: 40px;
    vertical-align: baseline;
}



.detailsItem{
    list-style-type: none;
    font-family: var(--secondary-font);
    color: var(--text-color);
    font-weight: bolder;
    font-weight: 900;
    font-size: 1.5rem;
}


.raterStar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    font-family: var(--primary-font);
    font-weight: bolder;
    height: 80px;
    width: 200px;
    background-color: var(--secondary-color2);
    padding: 10px;
    border-radius: 30px;
    .star{
        cursor: pointer;
        font-size: 1.5rem;
    }
    .fa-star:hover{
        transform: scale(1.2);
        transition: transform ease-in-out 200ms;
    }
}


.listIcon{
    color: var(--text-color);
    padding-right: 10px
}

.recipeIngredients{
    background-color: var(--secondary-color);
    width: 1200px;
    margin: auto;
    height: 100%;
    font-weight: 400;
    font-family: var(--secondary-font);
    padding: 40px;
    font-size: 1.5rem;
    
    h3{
        color: whitesmoke;
        font-size: 2rem;
        font-weight: bolder;
        margin-bottom: 10px;
        margin-left: 40px;
        font-family: var(--secondary-font);
        text-decoration: underline;
    }

    .ingredientItem{
        font-family: var(--secondary-font);
        color: whitesmoke;
        vertical-align: baseline;
        font-weight: 200;
        margin-left: 20px;
    }
}


.recipeInstructions{
    width: 1200px;
    margin: auto;
    padding: 40px;
    height: 100%;
    background-color: white;
    font-size: 1.5rem;
    color: black;
    h2{
        font-family: var(--secondary-font);
        margin-bottom: 20px;
        margin-left: 40px;
        text-decoration: underline;
    }
    .numberItem{
        vertical-align: baseline;
        margin-right: 15px;
        color: var(--texto-color);
    }
    .instructionItem{
        font-family: var(--secondary-font);
        color: black;
        font-weight: 200;
        list-style-type: none;
        margin-bottom: 25px;
    }

    .instructionItem:hover{
        transform: scale(1.025);
        font-weight: bolder;
        transition: 200ms;
    }

    .doneButton{
        background-color: white;
        color: var(--secondary-color);
        font-family: var(--secondary-font);
        font-weight: bolder;
        font-size: 1.5rem;
        border: var(--secondary-color) solid 5px;
        border-radius: 30px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .doneButton:hover{
        background-color: var(--secondary-color);
        color: white;
        transition: background-color ease-in 250ms, color ease-in 250ms;
        cursor: pointer;
    }
}

.doneButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nutritionContainer{
    width: 1200px;
    height: 500px;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nutritionButton{
    background-color: var(--hover-secondary-color);
    color: white;
    font-family: var(--secondary-font);
    font-weight: bolder;
    font-size: 1.5rem;
    border: var(--hover-secondary-color) solid 5px;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.nutritionButton:hover{
    background-color: white;
    color: var(--hover-secondary-color);
    transition: background-color ease-in 250ms, color ease-in 250ms;
    cursor: pointer;
}

.nutritionFacts{
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    overflow: hidden;
    &.visible{
        display: flex;
        background-color: #f0ece7;
        animation: reveal ease-out forwards 300ms;
        transform-origin: top;
        font-weight: bolder;
        padding: 15px;
        margin-bottom: 30px;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
