@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');




/*Implementar variables, instalar sass al programa*/

:root{
    --clr: #000000;
    --font: 'Oxygen', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}



header{
    
}

/* Cambiar formato mealsavior.png a .svg en photoshop y subirlo*/

.marca{
    min-width: 200px;
    margin-left: 2rem;
    min-height: 40px;
    
}

.mealsaviorAncle{
    height: 40px;
    width: 100%;
    display: block
}


.navigation{
    width: 100%;
    height: 75px;
    background: rgba(188, 188, 188, 0.921);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 75vw;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #000000; /*Decidir color de iconos*/
}

.navigation ul li:hover a .icon{
    transform: translateY(-10px);
}

.navigation ul li a .text{
    opacity: 0;
}

.navigation ul li:hover a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 100;
    transform: translateY(+10px);
}


.searchbar{
    border-radius: 10px;
    padding: 6px;
    font-size: 17px;
    font-weight: bold;
    border: 0px solid;
    height: 40px;
    min-width: 300px;
    margin-right: 10px;
}


.searchbar:focus{
    outline: none; /* Saco el contorno al focusear la searchbar */
}

.loginButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 0px solid;
    border-radius: 10px;
    padding: 6px;
    margin-right: 50px;
    font-weight: bold;
    height: 40px;
    font-size: 1em;
    min-width: 150px;
    background-color: #ffffff;
    text-decoration: none;
}

.loginButton:hover{
    background-color: #FFA000;
    transition: 500ms /*Decidir velocidad de transicion*/
}

.loginIcon{
    font-size: 1.5em;
    margin-right: 5px
}





/*seccion de los containers*/


body{
    background-color: #f5cba7;
    align-items: top;
}

.container{
    width: 100%;
    background: rgba(130, 79, 79, 0.704);
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: auto;
}

.section-search{
    max-width: 40%;
    float: left;
    background: rgba(231, 231, 231, 0.704);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    overflow: auto;
}

.section-recipes{
    max-width: 60%;
    background: rgba(79, 91, 130, 0.704);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    overflow: auto;
}

